

.forgot .sign__content h2 span{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.forgot .sign__content h2 {
    width: 70%;
    margin: 0 auto;
}
.form_chek{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.form_chek input{
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #dddff6;
    margin-top: 20px;
}
.forgot     .sign_check{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}